body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: #f5f5f5;
  min-width: 460px;
}

.jumbotron{
  padding: 20px;
}

.root {
  margin: 20px;
}

.grid {
  margin-top: 15px;
}

.caption {
  min-height: 128px;
  overflow: scroll;
}
